/*estilos de main contacto*/
.mainContacto{
    h1{
        @extend %titulo
    }
    h2{
        color: $colorPrincipal;
        text-align: center;
    }
    form{
        width: 90%;
        fieldset{
            legend{
                color: $colorPrincipal;
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .mainContacto{
        form{
            fieldset{
                section{
                    .form{
                        display: flex;
                        flex-flow: column wrap;
                        gap: 5px;
                    }
                }
            }
        }
    }
    }