//import mixin
@import "variables/mixin";

/*estilos de main contacto*/
.mainContacto{
    h1{
        @extend %titulo
    }
    h2{
        color: $colorPrincipal;
        text-align: center;
    }
    form{
        width: 90%;
        fieldset{
            legend{
                color: $colorPrincipal;
            }
        }
        .form{
            display: flex;
            flex-flow: column wrap;
        }
    }
}
/*estilos de tablet*/
@media screen and (min-width:600px){
    .contenedorContacto{
        @include grid-
    }
    .headerContacto{
        grid-template-areas: header;
    }
    .mainContacto{
        grid-template-areas: main;
    }
    .footerContacto{
        grid-template-areas: footer;
    }
    

}

@media screen and (min-width:1024px){
    .contenedorContacto{
        @include grid-
        .headerContacto{
            grid-template-areas: header;
        }
        .mainContacto{
            grid-template-areas: main;
        }
        .footerContacto{
            grid-template-areas: footer;
        }
    }
    
    }