//import mixin

@import "variables/mixin";

/* estilos de header */

header{
    background-color: #333333;
    .logo{
        margin: 0px;
        padding: 30px;
        text-align: center;
    }
    .navbar{
        text-align: center;
        button{
            background-color: $colorPrincipal;
        }
        ul{
            li{
                margin: 5px;
                padding: 5px;
                color: $colorPrincipal;
                background-color: transparent;
                display: inline-block;
                font-size: 1rem;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

/*estilos de main Inicio*/

.mainInicio{
    h1{
        @extend %titulo
    }
    div{
        margin-top: 30px;
        text-align: center;
        h2{
            color: $colorPrincipal;
        }
        p{
            margin-top: 30px;
            padding: 30px;
            font-size: 1.2rem;
            text-align: center;
            color: $colorParrafo;
            font-family: 'Roboto Slab', serif;
            span{
                display: block;
            }
        }
    }
    .foto{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
    }

}
/*estilos de tablet*/

@media screen and (min-width:600px){
    .contenedorInicio{
        @include grid-
        .headerInicio{
            grid-template-areas: header;
        }
        .mainInicio{
            grid-template-areas: main;
        }
        .footerInicio{
            grid-template-areas: footer;
        }
        .foto {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            margin: 10px;
            padding: 10px;
            
        }
        }
}



/*estilos de desktop*/

@media screen and (min-width:1024px){
    .foto{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
        img{
            width: 50%;
        }
    }

    }
